<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shipyard</title>
    <meta name="description" content="A skeleton for flotilla apps and services">
    <base href="/">
    {{range FileURLs .Styles}}<link href="{{.}}" rel="stylesheet" type="text/css">
    {{end}}
    {{range FileURLs .Scripts}}<script src="{{.}}"  type="text/javascript"></script>
    {{end}}
  </head>
  <body>
    <tt>
      <a href="http://github.com/casey/shipyard">shipyard</a>
      for the
      <a href="http://github.com/casey/flotilla">flotilla</a>
    </tt>
  </body>
</html>
