<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Collage</title>
    <meta name="description" content="A drag and drop image collage maker">
    <base href="/">
    {{range FileURLs .Styles}}<link href="{{.}}" rel="stylesheet" type="text/css">
    {{end}}
    {{range FileURLs .Scripts}}<script src="{{.}}"  type="text/javascript"></script>
    {{end}}
  </head>
  <body ng-controller="main">
    <noscript><a href="http://www.enable-javascript.com/" target="_blank">Please enable JavaScript</a>.</noscript>
  </body>
</html>
